//- Layout
$mobile: 375px;
$disktop: 1440px;

//- Colors
//-- Primary
$violet: hsl(257, 40%, 49%);

//- Typography
$font-size: 1.6rem;
$font-family-primary: ('Poppins', sans-serif);
$font-family-secondary: ('Open Sans', sans-serif);
$font-weight-normal: 400;
$font-weight-bold: 700;