*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
}

:root {
  /* (main background) */
  --very-dark-blue: hsl(233, 47%, 7%);
  /* (card background) */
  --dark-desaturated-blue: hsl(244, 38%, 16%);
  /* (accent) */
  --soft-violet: hsl(277, 64%, 61%);
  /* (main heading, stats) */
  --white: hsl(0, 0%, 100%);
  /* (main paragraph) */
  --slightly-transparent-white-75: hsla(0, 0%, 100%, 0.75);
  /* (stat headings) */
  --slightly-transparent-white-6: hsla(0, 0%, 100%, 0.6);
}

html,
body {
  min-height: 100vh;
}

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.5rem;
  line-height: 1.65;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  color: var(--slightly-transparent-white-6);
  background-color: var(--very-dark-blue);
  padding: 8rem 2.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

img,
picture,
video,
canvas,
svg {
  width: 100%;
  height: 100%;
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h2 {
  color: var(--white);
  line-height: 1.25;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}

.card {
  width: min(100%, 60rem);
  background-color: var(--dark-desaturated-blue);
  border-radius: 8px;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .card {
    width: min(100%, 111rem);
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

.card__img {
  height: 100%;
  background-color: var(--soft-violet);
}
@media (min-width: 1024px) {
  .card__img {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
}

.card__img img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  opacity: 0.75;
  mix-blend-mode: multiply;
}

.card__content {
  padding-block: 4rem;
  padding-inline: 3rem;
  display: -ms-grid;
  display: grid;
  gap: 6rem;
  text-align: center;
}
@media (min-width: 1024px) {
  .card__content {
    gap: 7rem;
    padding: 7rem;
    text-align: start;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    /* place-self: center; */
  }
}

.card__content h1 {
  font-size: 2.8rem;
  max-width: 18ch;
  margin-inline: auto;
  -webkit-margin-after: 2rem;
  margin-block-end: 2rem;
}
@media (min-width: 1024px) {
  .card__content h1 {
    font-size: 3.6rem;
    -webkit-margin-after: 2.5rem;
    margin-block-end: 2.5rem;
  }
}

.card__content .mark {
  color: var(--soft-violet);
}

.card__content p {
  max-width: 40ch;
  margin-inline: auto;
}
@media (min-width: 1024px) {
  .card__content p {
    max-width: 38ch;
    margin-inline: unset;
  }
}

/* features */

.features {
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 650px) {
  .features {
    gap: 6rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  .features {
    gap: 6rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }
}

.feature h2 {
  font-size: 2.3rem;
  -webkit-margin-after: 0.75rem;
  margin-block-end: 0.75rem;
}

.feature p {
  font-size: 1.15rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: "Lexend Deca", sans-serif;
}
