@import "var";

// ============================

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 55%;
  line-height: 1.65;
  font-family: $font-family;
  font-weight: $font-weight-normal;
  box-sizing: border-box;
  overflow-x: hidden;
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  @media screen and (min-width: $mobile) {
    font-size: 62.5%;
  }
}

body {
  height: auto;
  font-size: 1.4rem;
  background-color: $light-gray;

  @media screen and (min-width: $mobile) {
    font-size: $font-size;
    height: 100%;
  }
}

h1,
h2,
h3,
h4 {
  line-height: 1;
  font-weight: $font-weight-bold;
}

h1 {
  color: $cyan;
}

h3 {
  color: $bright-yellow;
}

p {
  &.lead {
    color: $grayish-blue;
  }

  section & {
    opacity: 0.85;
  }
}

.container {
  max-width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: 6rem 2rem;

  @media screen and (min-width: $mobile) {
    padding: 0;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.row {
  display: block;

  @media screen and (min-width: $mobile) {
    display: flex;
  }
}

// Main
main {
  border-radius: $radius;
  box-shadow: $box-shadow;
  background-color: #fff;
  overflow: hidden;

  header,
  section {
    padding: 3rem;

    @media screen and (min-width: $mobile) {
      padding: 5rem;
    }

    &>*+* {
      margin-top: 2rem;
    }
  }
}

header {}

// Sections
.col {
  color: #fff;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h4 {
    font-size: 2rem;
  }

  &--cta {
    background-color: $cyan;

    h2 {
      font-size: 4rem;

      span {
        font-size: 1.4rem;
        font-weight: $font-weight-normal;
        opacity: 0.65;
      }
    }

    .btn-cta {
      display: block;
      width: 100%;
      padding: 1rem 2rem;
      font-size: 1.8rem;
      text-decoration: none;
      text-align: center;
      color: inherit;
      border-radius: $radius;
      background-color: $bright-yellow;
      box-shadow: $box-shadow;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: rgba(192, 223, 52, 0.8);
      }
    }
  }

  &--about-us {
    background-color: $light-cyan;
  }
}