//-> Layout
$mobile: 425px;
$desktop: 1440px;

//-> Colors
///-> Primary
$cyan: hsl(180, 66%, 49%);
$dark-violet: hsl(257, 27%, 26%);
///-> Secondary
$red: hsl(0, 87%, 67%);
///-> Neutral
$gray: hsl(0, 0%, 75%);
$grayish-violet: hsl(257, 7%, 63%);
$very-dark-blue: hsl(255, 11%, 22%);
$very-dark-violet: hsl(260, 8%, 14%);

//-> Typography
$font-size: 1.6rem;
$font-family: ("Poppins", sans-serif);
$font-weight-normal: 500;
$font-weight-bold: 700;