//- Layout
// The designs were created to the following widths:
$mobile: 375px;
$desktop: 1440px;

//- Colors
//-- Primary
$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
//-- Accent
$blue: hsl(248, 32%, 49%);
//-- Neutral
$dark-blue: hsl(249, 10%, 26%);
$grayish-blue: hsl(246, 25%, 77%);

//- Typography
$font-size: 1.6rem;
$font-family: ("Poppins", sans-serif);
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

//- border radius
$border-radius: 6px;