@import "var";

// -----------------------------

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.65;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: $mobile) {
    font-size: 55%;
  }
}

body {
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight-normal;
  color: $dark-grayish-blue;
  background-color: $very-light-grayish-blue;
  background-image: url("./../images/bg-top.svg"), url("./../images/bg-bottom.svg");
  background-repeat: no-repeat;
  background-position: right top, left bottom;
  background-size: 25%;

  @media screen and (max-width: $mobile) {
    background-size: 45%;
  }
}

h1,
h2,
h3 {
  line-height: 1.25;
}

// switch
.switch-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  .switch {
    position: relative;
    display: inline-block;
    width: 6rem;
    height: 3rem;
    margin: 0 2rem;
    background-color: hsl(237, 63%, 64%);
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s;

    &::after {
      content: '';
      position: absolute;
      width: 2rem;
      height: 2rem;
      border-radius: 120rem;
      background-color: $very-light-grayish-blue;
      top: 0.5rem;
      left: 0.5rem;
      transition: all 0.3s;
    }

    &:hover {
      opacity: 0.75;
    }
  }

  input[type='checkbox']:checked+.switch::after {
    transform: translateX(3rem);
  }

  .offscreen {
    position: absolute;
    left: -9999px;
  }
}

.container {
  padding: 8rem 0;

  @media screen and (max-width: $mobile) {
    padding: 6rem 3rem;
  }
}

// Header
header {
  text-align: center;
  margin-bottom: 6rem;

  h3 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }

  span {
    font-weight: $font-weight-bold;
    color: $light-grayish-blue;
  }
}

// Main
main {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: $mobile) {
    display: block;
  }

  .component {
    padding: 3rem;
    flex-basis: 35rem;
    background-color: #fff;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.1);
    

    h2 {
      margin: 2rem 0;
      font-size: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;

      small {
        display: inline-block;
        margin-right: 1rem;
        font-size: 3rem;
      }
    }

    ul {
      list-style-type: none;
      margin-bottom: 3rem;
    }

    li {
      padding: 1rem 0;
      color: $grayish-blue;
      font-size: 1.4rem;
      font-weight: $font-weight-bold;
      border-bottom: 0.5px solid rgb(228, 228, 228);

      &:first-of-type {
        border-top: 0.5px solid rgb(228, 228, 228);
      }
    }

    .btn {
      display: block;
      padding: 1rem 2rem;
      font-size: 1.3rem;
      font-weight: $font-weight-bold;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      border-radius: 8px;
      border: 1px solid transparent;
      background-clip: padding-box;
      background-image: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
      transition: all 0.25s ease-out;

      &:hover {
        color: hsl(237, 63%, 64%);
        background-image: none;
        background-color: transparent;
        border-color: hsl(237, 63%, 64%);
      }
    }

    &--pro {
      position: relative;
      z-index: 100;
      padding-top: 5rem;
      padding-bottom: 5rem;
      color: #fff;
      border-radius: 8px;
      box-shadow: 0px 0px 16px 2px rgba(163, 168, 240, 0.2);
      background-image: linear-gradient(to bottom, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

      li,
      li:first-of-type {
        color: $very-light-grayish-blue;
        border-color: rgb(167, 172, 253);
      }

      .btn {
        color: hsl(237, 63%, 64%);
        background-color: #fff;
        background-image: none;

        &:hover {
          color: #fff;
          background-image: none;
          background-color: transparent;
          border-color: #fff;
        }
      }
    }

    &--basic {
      border-radius: 8px 0 0 8px;
    }

    &--master {
      border-radius: 0 8px 8px 0;
    }

    @media screen and (max-width: $mobile) {
      border-radius: 8px;

      &:not(:last-of-type) {
        margin-bottom: 3rem;
      }
    }
  }
}