//- Layout
$mobile: 375px;
$desktop: 1440px;

//- Colors
//-- Primary
$red: hsl(0, 100%, 68%);
//-- Neutral
$very-dark-blue: hsl(230, 29%, 20%);
$dark-grayish-blue: hsl(230, 11%, 40%);
$grayish-blue: hsl(231, 7%, 65%);
$light-grayish-blue: hsl(207, 33%, 95%);

//- Typography
$font-size: 1.8rem;
$font-family-primary: ('Barlow Condensed', sans-serif);
$font-family-secondary: ('Barlow', sans-serif);
$font-weight-default: 400;
$font-weight-primary-normal: 400;
$font-weight-primary-bold: 700;