///-> Layout
$mobile: 425px;
$disktop: 1440px;

///-> Colors
//-> Primary
$pink: hsl(322, 100%, 66%);
//-> Neutral
$very-dark-cyan: hsl(192, 100%, 9%);
$very-pale-blue: hsl(207, 100%, 98%);

///-> Typorgraphy
$font-size: 1.6rem;
$font-family-primary: ('Poppins', sans-serif);
$font-weight-p-bold: 700;
$font-family-secondary: ('Open Sans', sans-serif);
$font-weight-s-normal: 400;
$font-weight-s-semi-bold: 600;
$font-weight-s-bold: 700;