//- Layout
$mobile: 375px;
$desktop: 1440px;

//- Colors
//-- Primary
$strong-cyan: hsl(171, 66%, 44%);
$light-blue: hsl(233, 100%, 69%);
//-- Neutral
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);

//- Typography
$font-size: 1.8rem;
$font-family: ('Bai Jamjuree', sans-serif);
$font-weight-normal: 400;
$font-weight-bold: 600;